{% extends "plantillaBase.html" %}

{% block title %}
<title>PipoStore - AMD RADEON</title>
{% endblock %}

{%  block tituloPagina %}
<br>
<div class="row justify-content-center">
    <h1 class="text-success">Tarjetas de Video AMD RADEON</h1>
</div>
{% endblock %}
<br><br>
{% block contenido %}
<div class="row col-12">
            {% for producto in productos %}
                    <div class="card col-12 col-md-3" style="margin-right: 10px;">
                        <img class="card-img-top col-12" src="{{producto.imagen.url}}">
                        <div class="card-body">
                          <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p>Marca: {{ producto.marca }}</p>
							              <p>{{ producto.descripcion }}</p>
                            <p>Stock: {{ producto.stock }}</p>
                            <div class="price-container text-primary">
                            <h5>${{ producto.precioVenta }}</h5>
                            <input class="btn btn-primary" type="submit" value="Añadir al Carrito">
                            </div>
                        </div>
                      </div>

            {% endfor %}
</div>


{% endblock %}

{% block listado %}

{% endblock %}