{% extends 'plantillaBase.html' %}

{% load crispy_forms_tags %}

{% block title %}
    <title>PipoStore - Restablecer contraseña</title>
{% endblock %}

{% block contenido %}
    
<div class="row justify-content-center">
    <h2>Restablecer contraseña</h2>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-11 col-md-6">
        <div class="card">
            <div class="card-body">
                <form class="col-12" method="POST">
                    <p>Solicitaste restablecimiento de contraseña</p>
                    <p>Click en el siguiente link para restablecer la contraseña</p>
                    {% block reset_link %}
                    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}