{% extends 'plantillaBase.html' %}

{% load crispy_forms_tags %}

{% block contenido %}
    
<div class="row justify-content-center">
    <h2>Registro de Usuario</h2>
</div>
<br>
<div class="row justify-content-center">
    <div class="col-12 col-6">
        <div class="card">
            <div class="card-body">
                <form class="col-12" method="POST">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}